@model List<A.Simple.Backend.Definition.Domain.Person>

<div>
    <h1>These are the people</h1>
    <ul>
    @foreach(var person in Model)
    {
        <li>Name: @person.Name</li>
    }
    </ul>
</div>